#twitter-startAction-options.start-action-option.form-group
	label(for='twitter-message') Twitter message:
	input.form-control(type='text',name='twitterMessage')#twitter-message
	p Remember to authorize twitter under 
		a(href="/actions") actions
		
#twitter-stopAction-options.stop-action-option.form-group
	label(for='twitter-message') Twitter message:
	input.form-control(type='text',name='twitterMessage')#twitter-message
	p Remember to authorize twitter under 
		a(href="/actions") actions