extends layout

block content
	.container.body
		div(class="page-header")
			h1 About the project

		h2 Upload data
		p To upload sensor data you can use http get or post. Required parameters are sensorId and value (if you want to override servertime you can add parameter time) to /edit/add-data. Keep your sensorId private.
		p Examle
		.highlight
			pre.
				/edit/add-data?apiKey=123456789061e4ad6bbde123&value=52
				
		p For an examle of using Node to post values look at 
			a(href="https://github.com/crash007/IOT-sensors/blob/develop/upload-sensor.js") upload-sensor.js
		p For listening on a serial-device and upload values look at 
			a(href="https://github.com/crash007/IOT-sensors/blob/develop/serialport-reader.js") serialport-reader.js
		p(class="lead") Read more on 
			a(href="https://github.com/crash007/IOT-sensors/blob/master/README.md") github		