extends layout
block append head
//link(href="/stylesheets/c3.min.css", rel="stylesheet")

block content
	div(class="container")
		.chart-container

        
block scripts

	script(src="/javascripts/highcharts.js")
	script(src="/javascripts/sensor-charts.js")
	