extends layout

block append head
	link(href="/stylesheets/bootstrap-datetimepicker.min.css", rel="stylesheet",type="text/css", media="screen")

block content
	div(class="container")
		div(class="page-header")
			h1 Edit
			p(class="lead") Edit sensors and data	
		
		.row
			form.form-inline
				.form-group
					label.sr-only(for="exampleInputEmail3") Email address
					input#exampleInputName2.form-control(type='text', placeholder='Name')
				.form-group
					label.sr-only(for="exampleInputE234mail3") address
					input#exampleInputEmail2.form-control(type='email', placeholder='Description')
					button.btn.btn-default(type='submit') Send invitation
		.row
			.col-md-4
				h2 Add Sensor
				#addSensor
					input.form-control#inputSensorName(type='text', placeholder='Name')
					br
					input.form-control#inputSensorDesc(type='text', placeholder='Description')
					br
					input.form-control#inputSensorUnit(type='text', placeholder='Unit')
					br
					input.form-control#inputSensorValueSuffix(type='text', placeholder='Value suffix (%)')
					br
				button.btn.btn-default#btnAddSensor(style="float:right") Add Sensor
				
				
			.col-md-8
				h2 Sensors
				#sensorList
					table.table
						thead
							th Name
							th Description
							th Unit
							th valueSuffix
							th Values
							th Id
						
						tbody


block scripts
	//script(src="/javascripts/moment.min.js")
	script(src="/javascripts/moment-with-locales.js")
	script(src="/javascripts/bootstrap-datetimepicker.min.js")
	script(src="/javascripts/edit-sensors.js")                