extends layout

block content
  
  <!-- Begin page content -->
  div.container
    div(class="page-header")
      h1 IOT Sensors
      
    p(class="lead") Connect the things around you.
    p Upload and display your sensor data.
    p Read 
      a(href="about") about 
      this project
      
    if (!user)
      a(href="/signin") Sign in / Register
    //  
      if (user)
        p You are currently logged in as #{user.username}
        a(href="/logout") Logout

  