doctype html
html
  head
    block head
     
      meta(chartset="utf-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1")
      title IOT Sensors
      <!-- link(rel='stylesheet', href='/stylesheets/style.css') -->    
      link(href="/stylesheets/bootstrap.css", rel="stylesheet")
      link(href="/stylesheets/bootstrap-theme.min.css", rel="stylesheet")
      link(href="/stylesheets/carousel.css", rel="stylesheet")  
      <!-- Placed at the end of the document so the pages load faster -->
      script(src="/javascripts/libs/jquery-2.1.4.min.js")
      script(src="/javascripts/libs/bootstrap.min.js")
      script(src="/javascripts/global.js")  
      <!-- script(src="../../../../assets/js/ie-emulation-modes-warning.js") -->
    
    
  body
    .navbar-wrapper
      .container
        nav(class="navbar navbar-inverse navbar-static-top")      
          div.container
            div.navbar-header
              button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
                span(class="sr-only") Toggle navigation
                span(class="icon-bar")
                span(class="icon-bar")
                span(class="icon-bar")
          
              a(class="navbar-brand", href="/") IOT Sensors
        
            div(id="navbar", class="collapse navbar-collapse")
                ul(class="nav navbar-nav")
                  li 
                    a(href="/sensors") Sensors
                  li 
                    a(href="/users") Users  
                  li 
                    a(href="/charts") Charts
                  li
                    a(href="/about") About
                  li
                    a
                  if(user)
                    li
                      a(href="/user") #{user.username}                
                  li
                    if(user)
                      a(href="/logout") Sign out
                    else
                      a(href="/signin") Sign in
  
    block content
    
    footer(class="footer")
      div(class="container")
        p(class="text-muted") IOT Sensors collection
      
    
    block scripts    