extends layout

block content
  
  <!-- Begin page content -->
  div.container
    div(class="page-header")

      
    if (!user)
      h1 Orchestrate User Authentication
        |     
        p Sign in and view your profile!
        |     
        p
          a.btn.btn-primary.btn-lg(href='/signin', role='button')
            span.glyphicon.glyphicon-user
            |         Sign in!
    if (user)
      //.jumbotron
        h1 Orchestrate User Authentication
          |     
          p Below is your profile information!
        |   
      .panel.panel-default
        .panel-heading
          h3.panel-title Profile Information
        |     
        .panel-body
          p Username: #{user.username}
          |       
          //
            p
              | Avatar: 
              img(src='{user.avatar}')
          p
            | Full name: #{user.fullname}
          p
            | Epost: #{user.email}
          p
            | About: #{user.about}
          
      .panel.panel-default
        .panel-heading
          h3.panel-title Sensors        
        .panel-body
          #sensorList
            table.table
              thead
                th Name
                th Description
                th Unit
                th valueSuffix
                //th Values
                th Id
              tbody
              
block scripts
  script(src="/javascripts/populateSensors.js")
  script(src="/javascripts/profile.js")