extends layout
block append head
	link(href="/stylesheets/sensor-photos.css", rel="stylesheet",type="text/css", media="screen")

block content
	.container.body
		script.
			 chartName = "#{chartName}"	
		.panel.panel-default
			.panel-heading
				h3.panel-title Chart
			.panel-body
				a.btn.btn-default.timeSpan(href="#",name='all', role='button') All
				a.btn.btn-default.timeSpan(href="#",name='latest/day', role='button') Day
				a.btn.btn-default.timeSpan(href="#",name='latest/hour', role='button') Hour
				a.btn.btn-default.timeSpan(href="#",name='latest/minute', role='button') Minute
				.chart-container
		
				p
					a(href="/sensor/#{chartName}/json") View json
		.row
			.col-md-6
				.panel.panel-default
					.panel-heading
						h3.panel-title Location
					.panel-body
						#map-canvas(style="height: 15em; margin: 0px; padding: 0px; ")
						
		//Photo panel
		.panel.panel-default
			.panel-heading
				h3.panel-title Photos
			.panel-body
				.photos-container		
block scripts

	script(src="/javascripts/libs/highcharts.js")
	script(src="/javascripts/chart.js")
	script(src="/javascripts/sensor-view.js")
	script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true")
