extends layout
block append head
//link(href="/stylesheets/c3.min.css", rel="stylesheet")

block content
	.container.body
		.panel.panel-default.sensor-panel
			.panel-heading
				h3.panel-title All sensors
			.panel-body
				#sensorList
					table.table
						thead
							th Name
							th Description
							th User
						tbody						
							each s in sensors
								tr
									td
										a(href="/sensor/"+s.name) #{s.name}
									td #{s.description}
									td
										a(href="/sensors?username="+s.username) #{s.username}

        
block scripts
