extends layout

block content
	.container.body
		h1 Sign in
		p
			| Please sign-in with to view your profile.
	
		form.form-horizontal#local-sign-in(action='/login', method='post')
			.form-group
				label.col-sm-2.control-label Username
				.col-sm-10
					input.form-control(placeholder='Username',name="username")
			.form-group
				label.col-sm-2.control-label(for='inputPassword3') Password
				.col-sm-10
					input.form-control(type='password', placeholder='Password',name="password")
			.form-group
				.col-sm-offset-2.col-sm-10					
					input.btn.btn-primary.btn-default(type='submit', value='Log In')
						
		a.btn.btn-warning.btn-lg(data-toggle='collapse', href='#local-reg', role='button')
			span.glyphicon.glyphicon-user
			|  Sign up
		p Register for an account
		form.form-horizontal#local-reg.collapse(action='/local-reg', method='post')
			.form-group
				label.col-sm-2.control-label Username
				.col-sm-10
					input.form-control(placeholder='Username',name="username", type="text")
			.form-group
				label.col-sm-2.control-label Email
				.col-sm-10
					input.form-control(placeholder='Email',name="email",type="email")
			.form-group
				label.col-sm-2.control-label Full name
				.col-sm-10
					input.form-control(type='text', placeholder='Say something',name="fullName")
			.form-group
				label.col-sm-2.control-label Password
				.col-sm-10
					input.form-control(type='password', placeholder='Password',name="password")
			.form-group
				label.col-sm-2.control-label About
				.col-sm-10
					input.form-control(type='text', placeholder='Say something',name="about")
			.form-group
				.col-sm-offset-2.col-sm-10					
					input.btn.btn-primary.btn-default(type='submit', value='Register')
	
		
		
		p
			.error #{message}		