extends layout
block append head
//link(href="/stylesheets/c3.min.css", rel="stylesheet")

block content
	div(class="container")		
		.panel.panel-default.users-panel.collapse.in
			.panel-heading
				h3.panel-title Users
			.panel-body
				#usersList
					table.table
						thead
							th Username
											
						tbody
							tr
								each u in users
									tr
										td
											a(href="/users/"+u.username) #{u.username}
											

		
		

block scripts

