extends ../layout


	
block content
	.container.body
		h3 Actions 
		p.lead Actions are used with triggers and they react to trigger events.
		
		h4 Twitter 
		if (user && user.twitter)
			p Twitter account #{user.twitter.username} is linked to IOT sensors
		p
			a(href="/twitter/authz") Authorize Twitter